/backend/logs
/backend/target/classes
/backend/target/generated-sources
/backend/target/generated-test-sources
/backend/target/test-classes
/spring-social-kakao/target
/logs
/target
/.idea/
/node_modules
rebel.xml
*.iml