<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Alimy</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" th:href="@{/css/common.css}" href="../../css/common.css"/>
	<link rel="stylesheet" th:href="@{/css/signin.css}" href="../../css/signin.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script>
		function login(path) {
			let frm = document.getElementById("frm");
			frm.action = path;
			frm.submit();
		}
	</script>
</head>
<body>
<div id="info">
	<div class="login-form">
		<form id="frm" action="#" method="post">
			<h2 class="text-center">Sign in</h2>
			<div class="text-center social-btn">
				<button onclick="login('/signin/kakao');" class="btn btn-block btn-kakao"><i class="fa fa-sign-in"></i> Sign in with <b>Kakao</b></button>
				<button onclick="login('/signin/line');" class="btn btn-block btn-line"><i class="fa fa-sign-in"></i> Sign in with <b>Line</b></button>
				<button onclick="login('/signin/facebook');" class="btn btn-block btn-facebook"><i class="fa fa-facebook"></i> Sign in with <b>Facebook</b></button>
			</div>
		</form>
	</div>
</div>
<div id="container"></div>
<div id="footer"></div>
<script src="/three/build/three.js"></script>
<script src="/three/js/WebGL.js"></script>
<script src="/three/js/libs/stats.min.js"></script>
<script src="/three/js/loaders/GLTFLoader.js"></script>
<script src="/js/signin.js"></script>
<script type="x-shader/x-vertex" id="vertexShader">
			varying vec3 vWorldPosition;
			void main() {
				vec4 worldPosition = modelMatrix * vec4( position, 1.0 );
				vWorldPosition = worldPosition.xyz;
				gl_Position = projectionMatrix * modelViewMatrix * vec4( position, 1.0 );
			}
</script>
<script type="x-shader/x-fragment" id="fragmentShader">
			uniform vec3 topColor;
			uniform vec3 bottomColor;
			uniform float offset;
			uniform float exponent;
			varying vec3 vWorldPosition;
			void main() {
				float h = normalize( vWorldPosition + offset ).y;
				gl_FragColor = vec4( mix( bottomColor, topColor, max( pow( max( h , 0.0), exponent ), 0.0 ) ), 1.0 );
			}
</script>
<script>
	if (WEBGL.isWebGLAvailable() === false) {
		document.body.appendChild(WEBGL.getWebGLErrorMessage());
	}
	let camera, scene, renderer, dirLight, dirLightHeper, hemiLight, hemiLightHelper;
	let mixers = [];
	let clock = new THREE.Clock();

	init();
	animate();
</script>
</body>
</html>